:root {
    --red: #ff3300;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}
.list {
    list-style: square;
}

.ligh-theme {
    --bg: var(--red);
    --fontColor: var(--black);
    --btnFontColor: var(--white);
    --btnBg: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--red);
    --btnFontColor: var(--black);
    --btnBg: var(--white);
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 100px;
    width: 90px;
    border-radius: 20%;
    border: 30px 0000FF;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.btn:focus { outline-style: none; }